html {
  font-size: 16px;
}

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.6rem;
}

h3 {
  font-size: 2.4rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.4rem;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.3em 0;
  line-height: 1.1em;
}

p {
  font-size: 1rem;
  line-height: 1.6em;
  font-weight: 400;
  line-height: 1.8em;
  margin: 0 0 0.6em 0;
}

b {
  font-size: 1rem;
  line-height: 1.6em;
  font-weight: 700;
  line-height: 1.8em;
  margin: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.2rem;
  background-color: rgba(0, 0, 255, 0.7);
}

::-webkit-scrollbar-thumb {
  width: 0.6rem;
  background-color: #00ffff;
}

@keyframes grade {
  0% {
    transform: skewY(0deg) skewX(10deg);
  }
  25% {
    transform: skewY(10deg);
  }
  50% {
    transform: skewY(0deg) skewX(-10deg);
  }
  75% {
    transform: skewY(-10deg);
  }
  100% {
    transform: skewY(0deg) skewX(10deg);
  }
}

.euDuardo {
  height: 100vh;
  background-image: url(../img/eduardo_coelho.svg), url(../img/silhueta_color.svg);
  background-blend-mode: screen;
  background-repeat: no-repeat , no-repeat;
  background-size: cover , cover;
  background-position: center center , center;
}

.ladrilhos {
  position: fixed;
  top: -40vh;
  left: -40vw;
  height: 200vh;
  width: 200vw;
  background-image: url(../img/ladrilhos-01.svg);
  background-size: 10rem;
  z-index: -1;
  animation: grade 8s infinite;
  opacity: 01;
}

.olar {
  background-color: #fff;
  padding: 2rem;
  border-bottom-right-radius: 0.8rem;
  box-shadow: 0 0 0 0.5rem #00ffff;
}

.olar h1 {
  color: #000080;
  font-weight: 600;
  text-shadow: 0px 2px #00ffff;
}

.olar h3 {
  color: #00dede;
  font-weight: 400;
  font-style: italic;
}

.olar p, .olar b {
  color: #7e8798;
}

.contatos.box100 {
  padding: 0;
  margin: 0 0 0.8rem 0;
}

.botao {
  border: 1px solid #000080;
  padding: 1rem;
  text-align: center;
  font-weight: 700;
  color: #000080;
  font-size: 0.9rem;
  border-top-left-radius: 0.4rem;
  border-bottom-right-radius: 0.4rem;
}

.call {
  color: #fff;
  background-color: #000080;
}

#portfolio {
  background-color: rgba(0, 0, 128, 0.9);
  min-height: 100vh;
  padding-top: 1.5rem;
}

#portfolio h2 {
  text-align: center;
  margin: 0.3em 0;
  color: #00ffff;
}

.slide {
  background-color: #000080;
  padding: 0.3rem;
  border-radius: 0.2em;
  margin: 0 0 2rem 0;
  transition: transform 1s;
  transition-timing-function: ease-in-out;
}

.slide h5 {
  font-size: 1.3em;
  font-weight: 300;
  color: #7e8798;
  margin-top: 0.5em;
  text-align: center;
  color: #fff;
  line-height: 1.4em;
}
